@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{      
    font-family: 'Poppins', sans-serif;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(images/fondo2.jpg);
    background-size: cover;
    background-position: center;
    animation: slide 15s infinite; 
}

@keyframes slide{
    0%{
        background-image: url(images/fondo2.jpg);
    }
    33%{
        background-image: url(images/fondo3.jpg);
    }
    66%{
        background-image: url(images/fondo1.jpg);
    }
}

section{
    height: 500px;
    max-width: 1000px;
    border-radius: 5px;    
    overflow-y: scroll;
}

section::-webkit-scrollbar {
    display: none;  /* Ocultar scroll */
}

#inicio{ 
    position: relative;
    height: 100%;
    background-color: rgba(0,0,0,.9);   
    background-image: url(images/perfil.png);
    background-repeat: no-repeat;
    background-position: -10px  -25px;
    color: white;
    text-align: right;
}

#inicio h1{
    padding-top: 50px;
    padding-right: 15px;    
    font-size: 40px;
    font-weight: 900;
}

#inicio h2{
    padding-right: 15px;  
    letter-spacing: 3px;
}

#inicio p{
    position: absolute;
    right: 10px;
    bottom: 150px;
    width: 50%;
    text-align: center;
}

@media (max-width: 1000px){
    #inicio h1{ 
        padding-top: 10px;       
        font-size: 30px;        
        font-weight: 900;
    }

    #inicio p{
        position: absolute;
        right: 5px;
        bottom: 50px;
        width: 90%;
        text-align: center;
    }
}


/*//////////////////////////////////////////////////////
                E X P E R I E N C I A 
//////////////////////////////////////////////////////*/

#experiencia{
    position: relative;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#experiencia .card{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

#experiencia .card:nth-child(odd){
    flex-direction: row;
}

#experiencia .card:nth-child(even){
    flex-direction: row-reverse;
    text-align: right;
}

#experiencia .card .imgBx{
    position: relative;
    left: 25px;
    width: 350px;
    height: 300px;
    z-index: 1;
}

#experiencia .card:nth-child(even) .imgBx{
    left: -25px;
}

#experiencia .card .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#experiencia .card .contentBx{
    position: relative;
    right: 25px;
    width: 350px;
    height: 300px;
    background: #000;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 60px 20px 70px;
}

#experiencia .card:nth-child(even) .contentBx{
    right: -25px;
    padding: 20px 70px 20px 60px;
}

#experiencia .card .contentBx::before{
    content: '';
    position: absolute;
    top: -50px;
    bottom: -50px;
    left: 0;
    right: 0;
    background: #000;
    z-index: -1;
}

#experiencia .card .contentBx h2{
    font-size: 30px;
    color: #fff;
}

#experiencia .card .contentBx p{
    margin-top: 10px;
    color: #fff;
}

#experiencia .card .contentBx a{
    display: inline-block;
    margin-top: 15px;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border: 1px solid #fff;
}

@media (max-width: 1000px){

    #experiencia .card{
        flex-direction: column;
        max-width: 350px;
        margin: 25px 25px;
    }

    #experiencia .card .imgBx{
        width: 100%;
        height: 250px;
        left: 0;
    }

    #experiencia .card .contentBx{
        width: 100%;
        height: auto;
        right: 0;
        padding: 30px;
        text-align: center;
    }

    #experiencia .card .contentBx::before{
        top: 0;
        bottom: 0;
    }

    #experiencia .card:nth-child(even) .imgBx{
        left: 0;
    }

    #experiencia .card:nth-child(even) .contentBx{
        right: 0;
        padding: 30px;
    }
    
}


/*//////////////////////////////////////////////////////
                    E S T U D I O S
//////////////////////////////////////////////////////*/

#estudios{
    position: relative;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* line-height: 1.3; */
    font-size: 14px;
}

#estudios a,
#estudios h2,
#estudios h3{
    color: #2980b9;
}


#estudios .card{
    position: relative;
    max-width: 450px;
    background: rgba(255, 255, 255, 0.8);
    margin-bottom: 50px;
    padding: 30px 15px;
    display: flex;
}

#estudios .card .imgBx{
    max-width: 150px;
    flex: 0 0 150px;
}

#estudios .card .imgBx img{
    width: 100%;
}

#estudios .card .content{
    margin-left: 20px;
}

@media (max-width: 991px){
    #estudios{
        flex-direction: column;
    }
}

@media (max-width: 768px){

    #estudios{
        width: 100%;
    }

    #estudios .card{
        margin: 0;
        margin-bottom: 20px;
        padding: 0;
    }  

    #estudios .card .imgBx{
        display: none;
       
    }

    #estudios .card .content{
        margin-left: 0;
        padding: 30px 10px;
        border-left: 20px solid #b70e21;
    }
}


/*//////////////////////////////////////////////////
                H O B B Y
//////////////////////////////////////////////////*/


.container{
    position: relative;
    width: 1000px;
    height: 550px;
}

.container .box{
    position: relative;
    width:  calc(333px - 30px);
    height: calc(260px - 30px);
    background: #000;
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
}

@media (max-width: 768px){
    .container{
        width: 100%;
        height: auto;
    }

    .container .box{
        float: none;
        margin: 15px auto;
    }
}


.container .box::before{
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    box-sizing: border-box;
    transition: 0.5s;
    transform: scaleX(0);
    opacity: 0;
    z-index: 1;
}

.container .box:hover::before{
    transform: scaleX(1);
    opacity: 1;
    z-index: 1;
}

.container .box::after{
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    box-sizing: border-box;
    transition: 0.5s;
    transform: scaleY(0);
    opacity: 0;
}

.container .box:hover::after{
    transform: scaleY(1);
    opacity: 1;
}

.container .box .imgBox{
    position: relative;
}

.container .box .imgBox img{
    transition: 0.5s;
    width:  calc(333px - 30px);
    height: calc(260px - 30px);
    object-fit: cover;
}


.container .box:hover .imgBox img{
    opacity: 0.2;
    transform: scale(1.2);
}

.container .box .content{
    position: absolute;
    width: 100%;
    top:0;    
    z-index: 2;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

.container .box .content h2{
    margin: 0 0 10px;
    color: #fff;
    transform: translateY(-30px);
    opacity: 0;
    visibility: hidden;
}

.container .box .content p{
    margin: 0;
    color: #fff;
    transform: translateY(30px);
    opacity: 0;
    visibility: hidden;
}

.container .box:hover .content h2,
.container .box:hover .content p{
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
    transform: translateY(0px);
    transition-delay: 0.2s;
}

/*//////////////////////////////////////////////////
                C O N T A C T O
//////////////////////////////////////////////////*/


#contacto{
    width: 100%;
    background-color: #222222;
    color: #fff;
}

.logo{
    text-align: center;
    font-size: 3em;
}

.logo span{
    color: #b70e21;
}

/* .contact-wrapper{
    margin: 1.5em;
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
} */

.contact-wrapper > * {
    padding: 1em;
}

.contact-form{
    background-color: #222222;
}

.contact-form form{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-form form p{ 
    padding: 1em;
}

.contact-form form .block{
    grid-column: 1 / 3 ;
}


.contact-form form button,
.contact-form form input,
.contact-form form textarea{
    width: 100%;
    padding: 0.7em;
    border: none;
    background: none;
    outline: 0;
    color: #fff;
    border-bottom: 1px solid #d63031;
}

.contact-form form button{
    background: #b70e21;
    color: #000;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
}

.contact-form form button:hover,
.contact-form form button:focus{
    background: #d63031;
    color: #fff;
    transition: background-color 1s ease-out;
    outline: 0;
}

.contact-info{
    background-color: #000;
}

.contact-info h4,
.contact-info ul,
.contact-info p{
    text-align: center;
    margin: 0 0 1rem 0;
}

.contact-info ul{
    list-style: none;
}

.contact-info ul li{
    padding: 0.3em;
}

/*LARGE SCREEN*/

@media (min-width: 796px){

    .contact-wrapper{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .contact-wrapper > *{
        padding: 2em;
    }

    .contact-info h4,
    .contact-info ul,
    .contact-info p{
       /* padding: 1em;*/
        text-align: left;
    }
}



